streamlit
pandas
numpy
ofxparse
python-dotenv
sqlalchemy
psycopg2-binary
spacy>=3.4.0
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.4.0/pt_core_news_sm-3.4.0-py3-none-any.whl
